* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background:  #722F9B;
}

header{
    margin-left: 54px;
    margin-top: 20px;
}

header .zheader_logo {
    width: 65px;
    height: 25px;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

section#flex-animation {
    margin-top: 30px;
    height: 501px;
    width: 745px;
    margin-right: 60px;
}

section.flex-container{
    height: 480px;
    width: 480px;
    margin-right: 60px;
}
 
aside.box-login {
    width: 100%;
    height: 100%;
	box-sizing: border-box;
	border: 1px solid #979797;
	border-radius: 5px;
	background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

p.para-continuar-e-so {
	height: 67px;
	width: 373px;
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

button.fb {	
    height: 56px;	
    width: 100%;	
    border-radius: 5px;	
    background-color: #3A5A99;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 18px;
}

button.google {	
    height: 56px;
    width: 100%;
    border-radius: 5px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 18px;
}

p.keep-with-fulano {
    height: 21px;
    width: 244px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
    margin-top: 4px;

}

p.keep-with-google {
	height: 21px;
	width: 180px;
	color: #333333;
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
    text-align: center;
    margin-top: 4px;
}

input.email{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 370px;
    height: 30px;
}

div.email-field{
    width: 374px;
    margin-bottom: 56px;
    margin-top: 40px;
    cursor: pointer;
    border-bottom: 1px solid #D1D1D1;
    display: flex;
}

div.email-field-focused{
    width: 374px;
    margin-bottom: 56px;
    margin-top: 40px;
    cursor: pointer;
    border-bottom: 1px solid #3790F8;;
    display: flex;
    justify-content: center;
}

div.email-field-focused input{
    font-size: 18px;
    height: 30px;
    width: 350px;
    border: none;
    text-align: center;
}

label{
    width: 100%;
    cursor: pointer;
    display: flex;
    color: #D1D1D1;
    padding-left: 20px;
    padding-bottom: 2px;
}

div.email-field input, div.email-field-focused label, button, div.email-field img#arrow-temp{
    display: none;
    background: none;
    border: none;
}

@media (max-width: 1000px){

    .main-container{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    section#flex-animation {
        display: none;
    }
    
    section.flex-container{
        height: 480px;
        width: 480px;    
    }
     
    aside.box-login {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #979797;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        /* flex-flow: column nowrap; */
    }
}